<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>PayloadContent</key>
    <array>
        <dict>
            <key>FullScreen</key>
            <true/>
            <key>Label</key>
            <string>hacker RTX</string>
            <key>PayloadDisplayName</key>
            <string>hacker RTX</string>
            <key>PayloadIdentifier</key>
            <string>com.rtx.ios</string>
            <key>PayloadType</key>
            <string>com.apple.webClip.managed</string>
            <key>PayloadUUID</key>
            <string>12345678-ABCD-1234-ABCD-123456789ABC</string>
            <key>PayloadVersion</key>
            <integer>1</integer>
            <key>Precomposed</key>
            <true/>
            <key>URL</key>
            <string>https://rtx261.github.io/RTX/</string>
            <key>IsRemovable</key>
            <true/>
            <key>Icon</key>
            <string>https://raw.githubusercontent.com/RTX261/good-/593e3ad043c9eb9f93e4e6e2efaff41b0f186158/IMG_9290.jpeg</string>
        </dict>
    </array>
    <key>PayloadDisplayName</key>
    <string>RTX Web App</string>
    <key>PayloadIdentifier</key>
    <string>com.rtx.mobileconfig</string>
    <key>PayloadOrganization</key>
    <string> hacker RTX </string>
    <key>PayloadType</key>
    <string>Configuration</string>
    <key>PayloadUUID</key>
    <string>87654321-DCBA-4321-DCBA-987654321ABC</string>
    <key>PayloadVersion</key>
    <integer>1</integer>
</dict>
</plist>

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://rtx261.github.io/RTX/RTX.ipa</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>display-image</string>
                    <key>url</key>
                    <string>https://raw.githubusercontent.com/RTX261/good-/593e3ad043c9eb9f93e4e6e2efaff41b0f186158/IMG_9290.jpeg</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.rtx.ios</string>
                <key>bundle-version</key>
                <string>1.0</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>RTX</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
